.cards {
    width: max-content;
    display: flex;
    column-gap: 40px;
    padding-top: 50px;
}

.card {
    box-sizing: border-box;
    border: 2px solid rgb(19, 18, 18);
    height: 350px;
    width: 350px;
    justify-content: center;
    padding: 15px;
}

.icon-segment {
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolo {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid rgb(19, 18, 18);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: fixed;
    top: 1%;

}

.title {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_1 {
    font-size: 21px;
    color: rgb(101, 101, 99);
    line-height: 26px;
    padding-top: 17px;
    text-align: center;
}

.moro {
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.link {
    height: 50px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #1f1f1e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}