.cards {
    display: flex;
    width: max-content;
    column-gap: 30px;
    justify-content: space-between;
    margin: 50px;
}

.card {
    padding: 14px;
    background: rgba(210, 210, 204, 0.58);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #a8a881;
    height: 350px;
    width: 350px;
    border-radius: 20px;
}

.bor {
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid #a8a881;
    border-radius: 10px;
}

.card_1 {
    padding: 14px;
    background: rgba(168, 168, 129, 0.16);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #a8a881;
    height: 400px;
    width: 350px;
    border-radius: 20px;
}

.zagolovok {
    color: chocolate;
    font-size: 27px;
}

.txt {
    font-size: 19px;
    padding-right: 5px;
}

.box-shadow {
    -webkit-box-shadow: 17px 20px 16px 14px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 17px 20px 16px 14px rgba(34, 60, 80, 0.2);
    box-shadow: 17px 20px 16px 14px rgba(34, 60, 80, 0.2);
}

.bor_1 {
    color: rgb(138, 75, 75);
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(138, 75, 75);
    border-radius: 10px;
    background-color: rgba(46, 139, 87, 0.78);
}

.cards_3 {
    margin: 50px;
    display: flex;
    width: max-content;
    padding: 30px;
    border: 1px solid #1f1f1e;
    border-radius: 15px;
    background: rgba(46, 139, 87, 0.25);
}

.box_1 {
    align-items: center;
    display: flex;
    margin: 40px;
    width: 600px;
    height: 150px;
    background: rgb(241, 241, 235);
    border: 2px solid #1f1f1e;
    border-radius: 15px;
    column-gap: 30px;
}

.img {
    margin-left: 20px;
}
